*.pyc
*.so
*~

build/*
dist/*
doc/gnofract4d-manual/C/commands.xml
doc/gnofract4d-manual/C/gnofract4d-manual.html
doc/gnofract4d-manual/C/gnofract4d-manual.pdf
doc/gnofract4d-manual/C/stdlib.xml
doc/gnofract4d-manual/C/tutorial001.xml
doc/gnofract4d-manual/C/tutorial002.xml
doc/gnofract4d-manual/C/tutorial003.xml
elephant-valley/*
experiments/*
images/*
other_maps/*
params/*
website/*.html
website/*.xml
website/images/*
website/manual/*


