Edwin Young <edwin@bathysphere.org>
Edwin Young <edwin@bathysphere.org> catenary <catenary@users.sourceforge.net>
Edwin Young <edwin@bathysphere.org> edwin young <catenary@edwins-MacBook-Air.local>
Edwin Young <edwin@bathysphere.org> Tim Whidbey <catenary@bathysphere.org>
Cameron Garnham <me@da2ce7.com>
Rachel Mant <dx-mon@users.sourceforge.net> Richard Mant <dx-mon@DX-TOP.(none)>
Rachel Mant <dx-mon@users.sourceforge.net> dx-mon <dx-mon@users.sourceforge.net>
Jerry James <loganjerry@gmail.com>
Chris Mayo <aklhfex@gmail.com>
James Hiew <james@hiew.net>
Jose Bailo <jmbailo@gmail.com>
Alberto Gonzalez <mindhells@gmail.com>
Guanchor Ojeda Hernández <guanchor@gmail.com>
