# Mailmap File for Gnofract 4D
# (in order of appearance)

# Edwin
Edwin Young <edwin@bathysphere.org>
Edwin Young <edwin@bathysphere.org> edwin young <catenary@edwins-MacBook-Air.local>
Edwin Young <edwin@bathysphere.org> Tim Whidbey <catenary@bathysphere.org>
Edwin Young <edwin@bathysphere.org> catenary <catenary@users.sourceforge.net>

# Rachel
Rachel Mant <dx-mon@users.sourceforge.net>
Rachel Mant <dx-mon@users.sourceforge.net> Rachel Mant <DX-MON@users.noreply.github.com>
Rachel Mant <dx-mon@users.sourceforge.net> Richard Mant <dx-mon@DX-TOP.(none)>

# Others (no_change)
Jerry James <loganjerry@gmail.com>
Chris Mayo <aklhfex@gmail.com>
James Hiew <james@hiew.net>
Jose Bailo <jmbailo@gmail.com>
Alberto Gonzalez <mindhells@gmail.com>
Guanchor Ojeda Hernández <guanchor@gmail.com>

# Cameron
Cameron Garnham <me@da2ce7.com>
Cameron Garnham <me@da2ce7.com> Cameron Garnham <da2ce7@gmail.com>

# Github (committer_only)
GitHub <noreply@github.com>
