#dialog_label_box {
    margin: 2px;
}

#dialog_label_box > label {
    font-weight: bold;
}

#main_window progressbar {
    background-color: grey;
}

#main_window progressbar text {
    color: white;
    margin-top: 0.3em;
}

#main_window progressbar progress {
    min-height: 3.5em;
}

#settings_notebook tab {
    padding: 2px;
}

#settings_notebook textview {
    padding: 4px;
    font-family: monospace;
}
