[Desktop Entry]
Version=1.0
Name=Gnofract 4D Fractal Generator
Comment=Generate fractal images such as the Mandelbrot set
Exec=gnofract4d %F
Icon=gnofract4d-logo
Terminal=false
Type=Application
Categories=GNOME;Graphics;Math;
MimeType=text/x-gnofract4d-fractal-parameters
