include buildtools/*.py
include COPYING
include PKG-INFO
include createdocs.py
include debian/changelog
include debian/compat
include debian/control
include debian/copyright
include debian/docs
include debian/gnofract4d.install
include debian/gnofract4d.manpages
include debian/lintian/overrides/gnofract4d
include debian/menu
include debian/pycompat
include debian/rules
include debian/watch
include doc/gnofract4d.1
include doc/gnofract4d-manual/C/*.css
include doc/gnofract4d-manual/C/*.html
include doc/gnofract4d-manual/C/*.xml
include doc/gnofract4d-manual/C/*.xsl
include doc/gnofract4d-manual/C/figures/*.png
include formulas/fractint-builtin.frm
include formulas/fractint-g4.frm
include formulas/fractint.cfrm
include formulas/gf4d.cfrm
include formulas/gf4d.frm
include formulas/gf4d.uxf
include formulas/standard.ucl
include formulas/tutorial.frm
include formulas/sterling2.frm
include fract4d/c/*.h
include fract4d/test.cfrm
include fract4d/test.frm
include fract4d/test_bad_pp.frm
include fract4dgui/ui.xml
include gnofract4d
include gnofract4d-mime.xml
include gnofract4d.desktop
include maps/*.cs
include maps/*.map
include maps/*.ugr
include pixmaps/*.png
include pixmaps/*.xpm
include test.py
include testdata/animation.fcta
include testdata/chainsoflight.fct
include testdata/collapsar.fct
include testdata/director*.fct
include testdata/elfglow.fct
include testdata/example_formula_db.txt
include testdata/gradient_func.fct
include testdata/julfn.fct
include testdata/test.cs
include testdata/test.fct
include testdata/test_bail.fct
include testdata/tumor.fct
