include LICENSE
include doc/gnofract4d.1
include formulas/fractint-builtin.frm
include formulas/fractint-g4.frm
include formulas/fractint.cfrm
include formulas/gf4d.cfrm
include formulas/gf4d.frm
include formulas/gf4d.uxf
include formulas/standard.ucl
include formulas/tutorial.frm
include formulas/sterling2.frm
include formulas/test.cfrm
include formulas/test.frm
include formulas/test_bad_pp.frm
include fract4d/c/*.h
include fract4d/c/fract4dc/*.h
include fract4d/c/model/*.h
include fract4d/tests/*.py
include fract4d_compiler/tests/*.py
include fract4dgui/tests/*.py
include fract4dgui/ui.xml
include gnofract4d
include gnofract4d-mime.xml
include gnofract4d.css
include gnofract4d.desktop
include manual/public/*.css
include manual/public/*.html
include manual/public/*.png
include maps/*.cs
include maps/*.map
include maps/*.ugr
include pixmaps/*.png
include pixmaps/*.xpm
include test.py
include testdata/animation.fcta
include testdata/chainsoflight.fct
include testdata/collapsar.fct
include testdata/director*.fct
include testdata/elfglow.fct
include testdata/example_formula_db.txt
include testdata/formulas/test.cfrm
include testdata/formulas/test.frm
include testdata/formulas/test_bad_pp.frm
include testdata/gradient_func.fct
include testdata/julfn.fct
include testdata/test.cs
include testdata/test.fct
include testdata/test_bail.fct
include testdata/tumor.fct
