body {
    font-family: 'Merriweather', 'Verdana', serif;
    font-size: large;
}

.intro {
    font-size: x-large; 
}

.banner {
    background: #10507e url('fragment002.png') no-repeat;
    font-size:90;
    color: white;
    height: 400;
    text-align: center; 
    vertical-align:middle; 
    font-family: Merriweather;
    font-weight:900;
}

.hero {
    text-align: center;
}

.blueback {
    background: #c7eaf2;
}

html {
    max-width: 1920;
    margin: 0 auto;
}

.pagewrapper {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.feature_row {
    display: flex;
    margin-top: 80px; 
    margin-bottom: 80px;
  }
  
.feature_column {
    flex: 50%;
    /* margin-right: 20px; */
}

.feature_column_left {
    flex: 50%;
    padding-right: 40px; 
}

a.download-button {
    width: 600px;
	display: block;
	padding: 15px 20px 10px 20px;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 28px;
	font-weight: bold;
	background: #33A700 url('/g.png') no-repeat 92% 50%;
	border: 2px solid #339410;
	-webkit-box-shadow: 3px 3px 5px #000000;
	-moz-box-shadow: 3px 3px 5px #000000;
	box-shadow: 3px 3px 5px #000000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: 350ms;
	-moz-transition: 350ms;
	-o-transition: 350ms;
    transition: 350ms;
    margin-top: 30px;
    margin-bottom: 30px;
}

a.download-button:hover {
	background-color: #267C00;
	background-position: 90% 50%;
}

a.github-button {
    width: 600px;
	display: block;
	padding: 15px 20px 10px 20px;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 28px;
	font-weight: bold;
	background: #10507e url('/g.png') no-repeat 92% 50%;
	border: 2px solid #0a304b;
	-webkit-box-shadow: 3px 3px 5px #000000;
	-moz-box-shadow: 3px 3px 5px #000000;
	box-shadow: 3px 3px 5px #000000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: 350ms;
	-moz-transition: 350ms;
	-o-transition: 350ms;
    transition: 350ms;
    
}

a.github-button:hover {
	background-color: #0e446b;
	background-position: 90% 50%;
}

a.download-button span {
	font-size: 14px;
	display: block;
	margin-top: 2px;
}

/* external css: flickity.css */

* { box-sizing: border-box; }

.carousel {
  background: #EEE;
}

.carousel img {
  display: block;
  height: 200px;
}

@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 400px;
  }
}