Source: gnofract4d
Section: graphics
Version: 3.14-1ubuntu1
Priority: extra
Maintainer: Richard Mant <dx-mon@users.sourceforge.net>
Changed-By: Richard Mant <dx-mon@users.sourceforge.net>
Uploaders: Tim Whidbey <catenary@users.sourceforge.net>
XSBC-Original-Maintainer: Francesco Namuri <francesco@namuri.it>
Build-Depends: debhelper (>= 5), cdbs, python, python-dev, python-support (>= 0.5.3), libpng12-dev, libgconf2-dev, libjpeg62-dev
Standards-Version: 3.7.2
XS-Python-Version: current

Package: gnofract4d
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, libc6-dev
XB-Python-Version: ${python:Versions}
Description: a fractal images creator
 Gnofract 4D is a program which allows anyone to create beautiful images 
 called fractals. The images are automatically created by the computer
 based on mathematical principles. These include the Mandelbrot and 
 Julia sets and many more. You don't need to do any math: you can
 explore a universe of images just using a mouse.
 .
 Project Homepage: http://gnofract4d.sourceforge.net/
