notebook grid {
    padding: 10px;
}

#director_dialog frame {
    padding: 6px;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 12px;
}

#main_window progressbar {
    background-color: grey;
}

#main_window progressbar text {
    color: white;
    margin-top: 0.3em;
}

#settings_label_box {
    margin: 2px;
}

#settings_label_box > label {
    font-weight: bold;
}

#settings_notebook tab {
    padding: 2px;
}

#settings_notebook textview {
    padding: 4px;
    font-family: monospace;
}

#weirdbox {
    margin-top: 4px;
}

#weirdbox scale {
    padding: 2px;
}

.content {
    margin: 10px;
}

.component_first {
    margin-bottom: 8px;
}

.component_last {
    margin-top: 8px;
}

.toolbar {
    /* Values from GTK Default theme, not present in Ubuntu 22.04 default theme */
    padding: 4px;
    border-spacing: 4px;
}

.toolbar button {
    margin: 1px;
}

.toolbar button image {
    margin: 5px;
}

.toolbar separator.vertical {
    margin: 0 5px 0 5px;
}
