* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather', 'Verdana', serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

.page-wrapper {
  margin: 0 auto;
  max-width: 1400;
}

.banner {
  align-items: center;
  background: url('../fragment002.png') left 50% no-repeat #10507e;
  color: white;
  display: flex;
  font-size: 2.5rem;
  font-weight: 700;
  height: 250px;
  justify-content: center;
  text-shadow: 1px 2px 3px #666;
}

.content-wrapper {
  margin: 20px;
}

.feature_row, .feature_column {
  margin-top: 50px;
}

.feature_image {
  width: 100%;
}

p {
  text-align: justify;
}

p, pre, a.fancy-button {
  margin-top: 15px;
}

a.fancy-button {
  background-color: #3182CE;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  display: block;
  font-size: 1.875rem;
  font-weight: bold;
  max-width: 450px;
  padding: 15px 20px 10px 20px;
  text-decoration: none;
  transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  -webkit-transition: 350ms;
  width: 100%;
}

a.fancy-button:hover {
  background-color: #4299E1;
}

a.download-button {
  background-color: #38A169;
}

a.download-button:hover {
  background-color: #48BB78;
}

a.download-button span {
  display: block;
  font-size: .875rem;
  font-weight: normal;
  margin-top: 4px;
}

.carousel {
  background: #EEE;
}

.carousel img {
  display: block;
  height: 200px;
}

@media (min-width: 640px) {
  .banner {
    font-size: 3.75rem;
    height: 300px;
  }

  .content-wrapper {
    margin: 35px;
  }
}

@media (min-width: 768px) {
  .banner {
    font-size: 5.625rem;
    height: 400px;
  }

  .content-wrapper {
    margin: 50px;
  }

  .carousel img {
    height: 400px;
  }
}

@media (min-width: 1024px) {
  .feature_row {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .feature_column, .feature_column_left {
    flex: 1 1 0%;
  }

  .feature_column {
    margin-left: 25px;
    margin-top: 0;
  }

  .feature_column_left {
    margin-right: 25px;
  }
}
